<h1>My Skills</h1>

<% @skills.each do |skill| %>
  <h3>(<%= skill.id %>) <a href="/skills/<%= skill.id %>"><%= skill.name %></a></h3>
  <form action="/skills/<%= skill.id %>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="delete"/>
  </form>
<% end %>
