<form action="/skills" method="post">
  <p>Enter new skill </p>
  <input type="text" name="skill[name]"/><br/>
  <textarea name="skill[status]"></textarea><br/>
  <input type="submit" value="Add Skill"/>
</form>
